.mainTable { width: 100%;}
.mainTable td, .mainTable th {
  border: 1px solid black;
  padding: 10px;
}

.mainTable__image{width: 300px;}

.mainTable__header{}
.mainTable__content{}

h1 {
  color: darkorange;
}
.mainTable__image{width: 900px}
.mainTable__content{width: 900px}
